{% load static %}
{% load humanize %}
{% csrf_token %}

<!doctype html>
<html lang="en">
<head>

<!-- Basic Page Needs
================================================== -->
<title>SolarMarketHub</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/colors/blue.css' %}">

</head>
<body>

<!-- Wrapper -->
<div id="wrapper" class="wrapper-with-transparent-header">

<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth transparent-header">

	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="{% url 'home:home_view' %}"><img src="{% static 'images/newlogo.png' %}" data-sticky-logo="{% static 'images/newlogo.png' %}" data-transparent-logo="{% static 'images/newlogo2.png' %}" alt=""></a>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation">
					<ul id="responsive">

						<li>
							<a href="{% url 'home:home_view' %}" class="current">Home</a>
						</li>

						<li><a href="#">Find Work</a>
							<ul class="dropdown-nav">
								<li><a href="#">Browse Jobs</a></li>
								<li><a href="{% url 'home:all_tasks_view' %}">Browse Tasks</a></li>
							</ul>
						</li>

						<li><a href="#">For Employers</a>
							<ul class="dropdown-nav">
								<li><a href="{% url 'home:all_freelancers_view' %}">Find a Freelancer</a></li>
								<li><a href="{% url 'dashboard:employer_post_task_view' %}">Post a Task</a></li>
							</ul>
						</li>

						<li>
							<a href="{% url 'forum:forum_home_view' %}">Forum</a>
						</li>

					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			{% if user.is_authenticated %}
			<div class="right-side">

				<!--  User Notifications -->
				{% if request.user.useradditionalinformation.user_type == "freelancer" %}
				<div class="header-widget hide-on-mobile">
					
					<!-- Notifications -->
					<div class="header-notifications">

						<!-- Trigger -->
						<div class="header-notifications-trigger">
							<a href="#"><i class="fa fa-bell"></i><span>{{ notification_count }}</span></a>
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<div class="header-notifications-headline">
								<h4>Notifications</h4>
								<button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
									<i class="fa fa-check-square-o"></i>
								</button>
							</div>

							<div class="header-notifications-content">
								<div class="header-notifications-scroll" data-simplebar>
									<ul>
										<!-- Notification -->
										{% for notification in all_notification %}
										<li class="notifications-not-read">
											<a href="#">
												{% if notification.notification_category == "review" %}
												<span class="notification-icon"><i class="fa fa-pencil-square-o"></i></span>
												<span class="notification-text">
													<strong>{{ notification.user.first_name }} {{ notification.user.last_name }}</strong> left you a <span class="star-rating no-stars" data-rating="5.0"></span> rating
												</span>

												{% elif notification.notification_category == "hired" %}
												<span class="notification-icon"><i class=" fa fa-gavel"></i></span>
												<span class="notification-text">
													<strong>{{ request.user.first_name }} {{ request.user.last_name }},</strong> you have been hired for the task <span class="color">{{ notification.task.task_name }}</span>
												</span>

												{% elif notification.notification_category == "due date" %}
												<span class="notification-icon"><i class="fa fa-refresh"></i></span>
												<span class="notification-text">
													Your task <span class="color">{{ notification.task.task_name }}</span> is almost due for delivery
												</span>

												{% endif %}
											</a>
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>

						</div>

					</div>
					
					<!-- Messages -->
					<div class="header-notifications">
						<div class="header-notifications-trigger">
							<a href="#"><i class="fa fa-envelope"></i><span>{{ message_notification_count }}</span></a>
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<div class="header-notifications-headline">
								<h4>Messages</h4>
								<button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
									<i class="fa fa-check-square"></i>
								</button>
							</div>

							<div class="header-notifications-content">
								<div class="header-notifications-scroll" data-simplebar>
									<ul>
										<!-- Notification -->
										{% for notification in all_message_notification %}
										<li class="notifications-not-read">
											<a href="{% url 'dashboard:freelancer_messages_view' CHAT_ID=notification.message.chat.id %}">
												<span class="notification-avatar status-online"><img src="{{ notification.user.useradditionalinformation.profile_picture.url }}" alt="" height="40" width="40"></span>
												<div class="notification-text">
													<strong>{{ notification.user.first_name }} {{ notification.user.last_name }}</strong>
													<p class="notification-msg-text">{{ notification.message.content_snippet }}</p>
													<span class="color">4 hours ago</span>
												</div>
											</a>
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>

							<a href="{% url 'dashboard:freelancer_messages_view' CHAT_ID=0 %}" class="header-notifications-button ripple-effect button-sliding-icon">View All Messages<i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>

				</div>
				{% else %}
				<div class="header-widget hide-on-mobile">
					
					<!-- Notifications -->
					<div class="header-notifications">

						<!-- Trigger -->
						<div class="header-notifications-trigger">
							<a href="#"><i class="fa fa-bell"></i><span>{{ notification_count }}</span></a>
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<div class="header-notifications-headline">
								<h4>Notifications</h4>
								<button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
									<i class="fa fa-check-square-o"></i>
								</button>
							</div>

							<div class="header-notifications-content">
								<div class="header-notifications-scroll" data-simplebar>
									<ul>
										<!-- Notification -->
										{% for notification in all_notification %}
										<li class="notifications-not-read">
											<a href="#">
												{% if notification.notification_category == "review" %}
												<span class="notification-icon"><i class="fa fa-pencil-square-o"></i></span>
												<span class="notification-text">
													<strong>{{ notification.user.first_name }} {{ notification.user.last_name }}</strong> left you a <span class="star-rating no-stars" data-rating="5.0"></span> rating
												</span>

												{% elif notification.notification_category == "bid" %}
												<span class="notification-icon"><i class=" fa fa-gavel"></i></span>
												<span class="notification-text">
													<strong>{{ notification.user.first_name }} {{ notification.user.last_name }},</strong> placed a bid on your <span class="color">{{ notification.task.task_name }}</span> task
												</span>

												{% elif notification.notification_category == "task expiring" %}
												<span class="notification-icon"><i class="fa fa-refresh"></i></span>
												<span class="notification-text">
													Your task listing <span class="color">{{ notification.task.task_name }}</span> is expiring
												</span>

												{% endif %}
											</a>
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>

						</div>

					</div>
					
					<!-- Messages -->
					<div class="header-notifications">
						<div class="header-notifications-trigger">
							<a href="#"><i class="fa fa-envelope"></i><span>{{ message_notification_count }}</span></a>
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<div class="header-notifications-headline">
								<h4>Messages</h4>
								<button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
									<i class="fa fa-check-square"></i>
								</button>
							</div>

							<div class="header-notifications-content">
								<div class="header-notifications-scroll" data-simplebar>
									<ul>
										<!-- Notification -->
										{% for notification in all_message_notification %}
										<li class="notifications-not-read">
											<a href="{% url 'dashboard:employer_messages_view' CHAT_ID=notification.message.chat.id %}">
												<span class="notification-avatar status-online"><img src="{{ notification.user.useradditionalinformation.profile_picture.url }}" alt="" height="40" width="40"></span>
												<div class="notification-text">
													<strong>{{ notification.user.first_name }} {{ notification.user.last_name }}</strong>
													<p class="notification-msg-text">{{ notification.message.content_snippet }}</p>
													<span class="color">4 hours ago</span>
												</div>
											</a>
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>

							<a href="{% url 'dashboard:employer_messages_view' CHAT_ID=0 %}" class="header-notifications-button ripple-effect button-sliding-icon">View All Messages<i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>

				</div>
				{% endif %}
				<!--  User Notifications / End -->

				<!-- User Menu -->
				<div class="header-widget">

					<!-- Messages -->
					<div class="header-notifications user-menu">
						<div class="header-notifications-trigger">
							<a href="#"><div class="user-avatar status-online"><img src="{{ request.user.useradditionalinformation.profile_picture.url }}" alt="" height="40" width="40"></div></a>
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<!-- User Status -->
							<div class="user-status">

								<!-- User Name / Avatar -->
								<div class="user-details">
									<div class="user-avatar status-online"><img src="{{ request.user.useradditionalinformation.profile_picture.url }}" alt="" height="40" width="40"></div>
									<div class="user-name">
										{{ request.user.first_name }} {{ request.user.last_name }} 
										{% if request.user.useradditionalinformation.user_type == "freelancer" %}
										<span>Freelancer</span>
										{% else %}
										<span>Employer</span>
										{% endif %}
									</div>
								</div>
								
								<!-- User Status Switcher -->
								<div class="status-switch" id="snackbar-user-status">
									<label class="user-online current-status">Online</label>
									<label class="user-invisible">Invisible</label>
									<!-- Status Indicator -->
									<span class="status-indicator" aria-hidden="true"></span>
								</div>	
						</div>
						
						<ul class="user-menu-small-nav">
							{% if request.user.useradditionalinformation.user_type == "freelancer" %}
							<li><a href="{% url 'dashboard:freelancer_dashboard_home_view' %}"><i class="icon-material-outline-dashboard"></i> Dashboard</a></li>
							<li><a href="{% url 'dashboard:freelancer_settings_view' %}"><i class="icon-material-outline-settings"></i> Settings</a></li>
							{% else %}
							<li><a href="{% url 'dashboard:employer_dashboard_home_view' %}"><i class="icon-material-outline-dashboard"></i> Dashboard</a></li>
							<li><a href="{% url 'dashboard:employer_settings_view' %}"><i class="icon-material-outline-settings"></i> Settings</a></li>
							{% endif %}
							<li><a href="{% url 'accounts:logout_view' %}"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
						</ul>

						</div>
					</div>

				</div>
				<!-- User Menu / End -->

				<!-- Mobile Navigation Button -->
				<span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>

			</div>
			{% else %}

			<div class="right-side">

				<div class="header-widget">
					<a href="#sign-in-dialog" class="popup-with-zoom-anim log-in-button"><i class="fa fa-sign-in"></i> <Span>Log In / Register</Span></a>
				</div>

				<!-- Mobile Navigation Button -->
				<span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>

			</div>

			{% endif %}
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->



<!-- Intro Banner
================================================== -->
<div class="intro-banner dark-overlay" data-background-image="{% static 'images/home-background-02.jpg' %}">

	<!-- Transparent Header Spacer -->
	<div class="transparent-header-spacer"></div>

	<div class="container">
		
		<!-- Intro Headline -->
		<div class="row">
			<div class="col-md-12">
				<div class="banner-headline">
					<h3>
						<strong>Hire experts freelancers for any job, any time.</strong>
						<br>
						<span>Huge community of designers, developers and creatives ready for your project.</span>
					</h3>
				</div>
			</div>
		</div>
		
		<!-- Search Bar -->
		<div class="row">
			<div class="col-md-12">
				<form action="{% url 'home:freelancer_search_view' %}" method="post">
					{% csrf_token %}
				<div class="intro-banner-search-form margin-top-95">

					<div class="intro-search-field">
						<label for ="state" class="field-title ripple-effect">Which state?</label>
						<select name="state" onchange="selectLGAFunction()" id="state" class="selectpicker default" data-selected-text-format="count" data-size="7" title="All State" >
							{% for state in all_states %}
							<option>{{ state }}</option>
							{% endfor %}
						</select>
					</div>

					<div class="intro-search-field">
						<label for ="allLGA" class="field-title ripple-effect">LGA</label>
						<select name="lga" id="trial" data-selected-text-format="count" data-size="7" title="All LGA">
						</select>
					</div>

					<!-- Search Field -->
					<div class="intro-search-field">
						<label for ="cat" class="field-title ripple-effect">Categories</label>
						<select name="category" id="cat" class="selectpicker default" data-selected-text-format="count" data-size="7" title="All Categories" >
							<option>Solar Installation</option>
							<option>Solar Maintenance</option>
							<option>CCTV Installation</option>
							<option>CCTV Maintenance</option>
						</select>
					</div>

					<!-- Button -->
					<div class="intro-search-button">
						<button class="button ripple-effect" type="submit">Search</button>
					</div>
				</div>
				</form>
			</div>
		</div>

		<!-- Stats -->
		<div class="row">
			<div class="col-md-12">
				<ul class="intro-stats margin-top-45 hide-under-992px">
					<li>
						<strong class="counter">1,586</strong>
						<span>Total Payout</span>
					</li>
					<li>
						<strong class="counter">3,543</strong>
						<span>Tasks Posted</span>
					</li>
					<li>
						<strong class="counter">1,232</strong>
						<span>Freelancers</span>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>


<!-- Content
================================================== -->

<!-- Popular Job Categories -->
<div class="section margin-top-65 margin-bottom-30">
	<div class="container">
		<div class="row">

			<!-- Section Headline -->
			<div class="col-xl-12">
				<div class="section-headline centered margin-top-0 margin-bottom-45">
					<h3>Popular Categories</h3>
				</div>
			</div>

			<div class="col-xl-3 col-md-6">
				<!-- Photo Box -->
				<a href="{% url 'home:task_search_view' %}?popular_category=Solar Installation" class="photo-box small" data-background-image="{% static 'images/solar_installation.jpg' %}">
					<div class="photo-box-content">
						<h3>Solar Installation</h3>
						<span>{{ solar_installation_count }}</span>
					</div>
				</a>
			</div>
			
			<div class="col-xl-3 col-md-6">
				<!-- Photo Box -->
				<a href="{% url 'home:task_search_view' %}?popular_category=Solar Maintenance" class="photo-box small" data-background-image="{% static 'images/solar main.jpg' %}">
					<div class="photo-box-content">
						<h3>Solar Maintenance</h3>
						<span>{{ solar_maintenance_count }}</span>
					</div>
				</a>
			</div>
			
			<div class="col-xl-3 col-md-6">
				<!-- Photo Box -->
				<a href="{% url 'home:task_search_view' %}?popular_category=CCTV Installation" class="photo-box small" data-background-image="{% static 'images/cctv installation.jpg' %}">
					<div class="photo-box-content">
						<h3>CCTV Installation</h3>
						<span>{{ ctvv_installation_count }}</span>
					</div>
				</a>
			</div>

			<div class="col-xl-3 col-md-6">
				<!-- Photo Box -->
				<a href="{% url 'home:task_search_view' %}?popular_category=CCTV Maintenance" class="photo-box small" data-background-image="{% static 'images/cctv main.jpg' %}">
					<div class="photo-box-content">
						<h3>CCTV Maintenance</h3>
						<span>{{ ctvv_maintenance_count }}</span>
					</div>
				</a>
			</div>

		</div>
	</div>
</div>
<!-- Features Cities / End -->



<!-- Features Jobs -->
<div class="section gray margin-top-45 padding-top-65 padding-bottom-75">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				
				<!-- Section Headline -->
				<div class="section-headline margin-top-0 margin-bottom-35">
					<h3>Recent Tasks</h3>
					<a href="{% url 'home:all_tasks_view' %}" class="headline-link">Browse All Tasks</a>
				</div>
				
				<!-- Jobs Container -->
				<div class="tasks-list-container compact-list margin-top-35">

					{% if tasks %}
					{% for task in tasks %}
						
					<!-- Task -->
					<a href="{% url 'home:single_task_view' ID=task.id %}" class="task-listing">

						<!-- Job Listing Details -->
						<div class="task-listing-details">

							<!-- Details -->
							<div class="task-listing-description">
								<h3 class="task-listing-title">{{ task.task_name }}</h3>
								<ul class="task-icons">
									<li><i class="fa fa-map-marker"></i> {{ task.task_state }}</li>
									<li><i class="fa fa-clock-o"></i> {{ task.timestamp|timesince }}</li>
								</ul>
								<div class="task-tags margin-top-15">
									<span>{{ task.task_category }}</span>
								</div>
							</div>

						</div>

						<div class="task-listing-bid">
							<div class="task-listing-bid-inner">
								<div class="task-offers">
									<strong>&#x20A6;{{ task.task_min_pay|intcomma }} - &#x20A6;{{ task.task_max_pay|intcomma }}</strong>
									<span>{{ task.task_type }}</span>
								</div>
								{% if user.is_authenticated %}
								{% if request.user.useradditionalinformation.user_type == "freelancer" %}
								<span class="button button-sliding-icon ripple-effect">Bid Now <i class="fa fa-arrow-circle-right"></i></span>
								{% else %}
								<span class="button button-sliding-icon ripple-effect">View Task <i class="fa fa-arrow-circle-right"></i></span>
								{% endif %}
								{% else %}
								<span class="button button-sliding-icon ripple-effect">View Task <i class="fa fa-arrow-circle-right"></i></span>
								{% endif %}
							</div>
						</div>
					</a>

					{% endfor %}

					{% else %}

					{% endif %}

				</div>
				<!-- Jobs Container / End -->

			</div>
		</div>
	</div>
</div>
<!-- Featured Jobs / End -->

<!-- Icon Boxes -->
<div class="section padding-top-65 padding-bottom-65">
	<div class="container">
		<div class="row">

			<div class="col-xl-12">
				<!-- Section Headline -->
				<div class="section-headline centered margin-top-0 margin-bottom-5">
					<h3>How It Works?</h3>
				</div>
			</div>
			
			<div class="col-xl-4 col-md-4">
				<!-- Icon Box -->
				<div class="icon-box with-line">
					<!-- Icon -->
					<div class="icon-box-circle">
						<div class="icon-box-circle-inner">
							<i class="fa fa-user-plus"></i>
							<div class="icon-box-check"><i class="fa fa-check"></i></div>
						</div>
					</div>
					<h3>Create an Account</h3>
					<p>Registering an account is the first step towards accessing a multitude of solar solutions tailored to your needs.</p>
				</div>
			</div>

			<div class="col-xl-4 col-md-4">
				<!-- Icon Box -->
				<div class="icon-box with-line">
					<!-- Icon -->
					<div class="icon-box-circle">
						<div class="icon-box-circle-inner">
							<i class="fa fa-tasks"></i>
							<div class="icon-box-check"><i class="fa fa-check"></i></div>
						</div>
					</div>
					<h3>Post a Task</h3>
					<p>Need assistance with your solar project? Simply post your task and let our community of experts guide you through every step of the process.</p>
				</div>
			</div>

			<div class="col-xl-4 col-md-4">
				<!-- Icon Box -->
				<div class="icon-box">
					<!-- Icon -->
					<div class="icon-box-circle">
						<div class="icon-box-circle-inner">
							<i class=" fa fa-user-secret"></i>
							<div class="icon-box-check"><i class="fa fa-check"></i></div>
						</div>
					</div>
					<h3>Choose an Expert</h3>
					<p>With a plethora of solar experts at your disposal, selecting the right one for your project has never been easier.</p>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- Icon Boxes / End -->


<!-- Testimonials -->
{% if testimonial %}
<div class="section gray padding-top-65 padding-bottom-55">
	
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<!-- Section Headline -->
				<div class="section-headline centered margin-top-0 margin-bottom-5">
					<h3>Testimonials</h3>
				</div>
			</div>
		</div>
	</div>

	<!-- Categories Carousel -->
	<div class="fullwidth-carousel-container margin-top-20">
		<div class="testimonial-carousel testimonials">

			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial-avatar">
						<img src="images/user-avatar-small-02.jpg" alt="">
					</div>
					<div class="testimonial-author">
						<h4>Sindy Forest</h4>
						 <span>Freelancer</span>
					</div>
					<div class="testimonial">Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</div>
				</div>
			</div>

			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial-avatar">
						<img src="{{ request.user.useradditionalinformation.profile_picture.url }}" alt="">
					</div>
					<div class="testimonial-author">
						<h4>Tom Smith</h4>
						 <span>Freelancer</span>
					</div>
					<div class="testimonial">Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art.</div>
				</div>
			</div>

			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial-avatar">
						<img src="{{ request.user.useradditionalinformation.profile_picture.url }}" alt="">
					</div>
					<div class="testimonial-author">
						<h4>Sebastiano Piccio</h4>
						 <span>Employer</span>
					</div>
					<div class="testimonial">Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art.</div>
				</div>
			</div>

			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial-avatar">
						<img src="images/user-avatar-small-03.jpg" alt="">
					</div>
					<div class="testimonial-author">
						<h4>David Peterson</h4>
						 <span>Freelancer</span>
					</div>
					<div class="testimonial">Collaboratively administrate turnkey channels whereas virtual e-tailers. Objectively seize scalable metrics whereas proactive e-services. Seamlessly empower fully researched growth strategies and interoperable sources.</div>
				</div>
			</div>

			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial-avatar">
						<img src="{{ request.user.useradditionalinformation.profile_picture.url }}" alt="">
					</div>
					<div class="testimonial-author">
						<h4>Marcin Kowalski</h4>
						 <span>Freelancer</span>
					</div>
					<div class="testimonial">Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</div>
				</div>
			</div>

		</div>
	</div>
	<!-- Categories Carousel / End -->

</div>
{% endif %}
<!-- Testimonials / End -->


<!-- Counters -->
<div class="section padding-top-70 padding-bottom-75">
	<div class="container">
		<div class="row">

			<div class="col-xl-12">
				<div class="counters-container">
					
					<!-- Counter -->
					<div class="single-counter">
						<i class="fa fa-money"></i>
						<div class="counter-inner">
							<h3><span class="counter">1,586</span></h3>
							<span class="counter-title">Total Payout</span>
						</div>
					</div>

					<!-- Counter -->
					<div class="single-counter">
						<i class="fa fa-balance-scale"></i>
						<div class="counter-inner">
							<h3><span class="counter">3,543</span></h3>
							<span class="counter-title">Tasks Posted</span>
						</div>
					</div>

					<!-- Counter -->
					<div class="single-counter">
						<i class="fa fa-user"></i>
						<div class="counter-inner">
							<h3><span class="counter">2,413</span></h3>
							<span class="counter-title">Active Members</span>
						</div>
					</div>

					<!-- Counter -->
					<div class="single-counter">
						<i class="fa fa-trophy"></i>
						<div class="counter-inner">
							<h3><span class="counter">99</span>%</h3>
							<span class="counter-title">Satisfaction Rate</span>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- Counters / End -->


<!-- Footer
================================================== -->
<div id="footer">
	
	<!-- Footer Top Section -->
	<div class="footer-top-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">

					<!-- Footer Rows Container -->
					<div class="footer-rows-container">
						
						<!-- Left Side -->
						<div class="footer-rows-left">
							<div class="footer-row">
								<div class="footer-row-inner footer-logo">
									<img src="{% static 'images/newlogo2.png' %}" alt="">
								</div>
							</div>
						</div>
						
						<!-- Right Side -->
						<div class="footer-rows-right">

							<!-- Social Icons -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<ul class="footer-social-links">
										<li>
											<a href="#" title="Facebook" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="fa fa-facebook-f"></i>
											</a>
										</li>
										<li>
											<a href="#" title="Twitter" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-twitter"></i>
											</a>
										</li>
										<li>
											<a href="#" title="Google Plus" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-google-plus-g"></i>
											</a>
										</li>
										<li>
											<a href="#" title="LinkedIn" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-linkedin-in"></i>
											</a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
							</div>
							
							<!-- Language Switcher -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<select class="selectpicker language-switcher" data-selected-text-format="count" data-size="5">
										<option selected>English</option>
										<option>Français</option>
										<option>Español</option>
										<option>Deutsch</option>
									</select>
								</div>
							</div>
						</div>

					</div>
					<!-- Footer Rows Container / End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Top Section / End -->

	<!-- Footer Middle Section -->
	<div class="footer-middle-section">
		<div class="container">
			<div class="row">

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>For Freelancers</h3>
						<ul>
							<li><a href="{% url 'home:all_tasks_view' %}"><span>Browse Tasks</span></a></li>
							<li><a href="{% url 'dashboard:freelancer_bookmarks_view' %}"><span>My Bookmarks</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>For Employers</h3>
						<ul>
							<li><a href="{% url 'home:all_freelancers_view' %}"><span>Find a Freelancer</span></a></li>
							<li><a href="{% url 'dashboard:employer_post_task_view' %}"><span>Post a Task</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>Helpful Links</h3>
						<ul>
							<li><a href="#"><span>Contact</span></a></li>
							<li><a href="#"><span>Privacy Policy</span></a></li>
							<li><a href="#"><span>Terms of Use</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>Account</h3>
						<ul>
							<li><a href="{% url 'accounts:login_view' %}"><span>Log In</span></a></li>
							<li><a href="{% url 'accounts:signup_view' %}"><span>Signup</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Newsletter -->
				<div class="col-xl-4 col-lg-4 col-md-12">
					<h3><i class="icon-feather-mail"></i> Sign Up For a Newsletter</h3>
					<p>Weekly breaking news, analysis and cutting edge advices on job searching.</p>
					<form action="#" method="post" class="newsletter">
						{% csrf_token %}
						<input type="text" name="fname" placeholder="Enter your email address">
						<button type="submit"><i class="icon-feather-arrow-right"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Middle Section / End -->
	
	<!-- Footer Copyrights -->
	<div class="footer-bottom-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					© 2024 <strong>SolarMarketHub</strong>. All Rights Reserved.
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Copyrights / End -->

</div>
<!-- Footer / End -->

</div>
<!-- Wrapper / End -->

<!-- Sign In Popup
================================================== -->
<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#login">Log In</a></li>
			<li><a href="#register">Register</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Login -->
			<div class="popup-tab-content" id="login">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>We're glad to see you again!</h3>
					<span>Don't have an account? <a href="#" class="register-tab">Sign Up!</a></span>
				</div>
					
				<!-- Form -->
				<form method="post" id="login-form" action="{% url 'accounts:login_view' %}">
					{% csrf_token %}
					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Email Address" required/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" name="password" id="password" placeholder="Password" required/>
					</div>
					<a href="#" class="forgot-password">Forgot Password?</a>
				</form>
				
				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect" type="submit" form="login-form">Log In <i class="fa fa-arrow-circle-right"></i></button>
				
				<!-- Social Login -->
				<!-- <div class="social-login-separator"><span>or</span></div>
				<div class="social-login-buttons">
					<button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Log In via Facebook</button>
					<button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Log In via Google+</button>
				</div> -->

			</div>

			<!-- Register -->
			<div class="popup-tab-content" id="register">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Let's create your account!</h3>
				</div>

				<!-- Account Type -->
				<div class="account-type">
					<div onclick="switchUserTypeFunction('freelancer')">
						<input type="radio" name="account-type-radio" id="freelancer-radio" class="account-type-radio" checked/>
						<label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Freelancer</label>
					</div>

					<div onclick="switchUserTypeFunction('employer')">
						<input type="radio" name="account-type-radio" id="employer-radio" class="account-type-radio"/>
						<label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Employer</label>
					</div>
				</div>
					
				<!-- Form -->
				<form method="post" id="register-account-form" action="{% url 'accounts:signup_view' %}">
					{% csrf_token %}
					<input type="hidden" name="user_type" id="userType" value="freelancer">

					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" name="first_name" id="emailaddress-register" placeholder="First Name" required/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" name="last_name" id="emailaddress-register" placeholder="Last Name" required/>
					</div>
					
					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="email" class="input-text with-border" name="email" id="emailaddress-register" placeholder="Email Address" required/>
					</div>

					<div class="input-with-icon-left" title="Should be at least 8 characters long" data-tippy-placement="bottom">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" name="password1" id="password-register" placeholder="Password" required/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" name="password2" id="password-repeat-register" placeholder="Repeat Password" required/>
					</div>

					<div>
						<ul class="mt-2" style="font-size:13px;">
							<li>Password must contain 1 uppercase</li>
							<li>Password must contain 1 lowercase</li>
							<li>Password must contain 1 digit</li>
							<li>Password must contain 1 special character</li>
							<li>Password must be 8 characters long</li>
						</ul>
					</div>
				</form>
				
				<!-- Button -->
				<button class="margin-top-10 button full-width button-sliding-icon ripple-effect" type="submit" form="register-account-form">Register <i class="fa fa-arrow-circle-right"></i></button>
				
				<!-- Social Login -->
				<!-- <div class="social-login-separator"><span>or</span></div>
				<div class="social-login-buttons">
					<button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Register via Facebook</button>
					<button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Register via Google+</button>
				</div> -->

			</div>

		</div>
	</div>
</div>
<!-- Sign In Popup / End -->


<!-- Scripts
================================================== -->
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="https://www.vasterad.com/themes/hireo_21/js/jquery-migrate-3.1.0.min.js"></script>
<script src="{% static 'js/mmenu.min.js' %}"></script>
<script src="{% static 'js/tippy.all.min.js' %}"></script>
<script src="{% static 'js/simplebar.min.js' %}"></script>
<script src="{% static 'js/bootstrap-slider.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/snackbar.js' %}"></script>
<script src="{% static 'js/clipboard.min.js' %}"></script>
<script src="{% static 'js/counterup.min.js' %}"></script>
<script src="{% static 'js/magnific-popup.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
// Snackbar for user status switcher
$('#snackbar-user-status label').click(function() { 
	Snackbar.show({
		text: 'Your status has been changed!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	}); 
}); 
</script>

<!-- Leaflet // Docs: https://leafletjs.com/ -->
<script src="{% static 'js/leaflet.min.js' %}"></script>

<!-- Leaflet Geocoder + Search Autocomplete // Docs: https://github.com/perliedman/leaflet-control-geocoder -->
<script src="{% static 'js/leaflet-autocomplete.js' %}"></script>
<script src="{% static 'js/leaflet-control-geocoder.js' %}"></script>

<script>
	function switchUserTypeFunction(a) {
		if (a == "freelancer") {
			document.getElementById("userType").value = "freelancer";
		} else {
			document.getElementById("userType").value = "employer";
		}
	}
</script>


<script>
	function selectLGAFunction() {
		var state = document.getElementById("state").value;
		$.ajax({
            url: "{% url 'home:get_lga_view' %}",
            method: "POST",
            data: { 
              'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
              state: state 
            },
            success: function (data) {
                populateLGADropdown(data.all_lga);
				
            }
        });
	}

	function populateLGADropdown(lgas) {
        var lgaDropdown = document.getElementById("trial");
        lgaDropdown.innerHTML = ""; // Clear existing options

        lgas.forEach(function(lga) {
            var option = document.createElement("option");
            option.text = lga;
            lgaDropdown.add(option);
        });

		console.log(lgaDropdown)
	}
</script>

</body>
</html>
