{% load static %}
{% load time_filters %}

<!doctype html>
<html lang="en">
<head>

<!-- Basic Page Needs
================================================== -->
<title>SolarMarketHub | Employer Dashboard</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/colors/blue.css' %}">

</head>
<body class="gray">

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth dashboard-header not-sticky">

	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="{% url 'home:home_view' %}"><img src="{% static 'images/newlogo.png' %}" alt=""></a>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation">
					<ul id="responsive">

						<li>
							<a href="{% url 'home:home_view' %}">Home</a>
						</li>

						<li><a href="#">Find Work</a>
							<ul class="dropdown-nav">
								<li><a href="#">Browse Jobs</a></li>
								<li><a href="{% url 'home:all_tasks_view' %}">Browse Tasks</a></li>
							</ul>
						</li>

						<li><a href="#">For Employers</a>
							<ul class="dropdown-nav">
								<li><a href="{% url 'home:all_freelancers_view' %}">Find a Freelancer</a></li>
								<li><a href="{% url 'dashboard:employer_post_task_view' %}">Post a Task</a></li>
							</ul>
						</li>

						<li>
							<a href="{% url 'forum:forum_home_view' %}">Forum</a>
						</li>

					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			<div class="right-side">

				<!--  User Notifications -->
				<div class="header-widget hide-on-mobile">
					
					<!-- Notifications -->
					<div class="header-notifications">

						<!-- Trigger -->
						<div class="header-notifications-trigger">
							<a href="#"><i class="fa fa-bell"></i><span>{{ notification_count }}</span></a>
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<div class="header-notifications-headline">
								<h4>Notifications</h4>
								<button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
									<i class="fa fa-check-square-o"></i>
								</button>
							</div>

							<div class="header-notifications-content">
								<div class="header-notifications-scroll" data-simplebar>
									<ul>
										<!-- Notification -->
										{% for notification in all_notification %}
										<li class="notifications-not-read">
											<a href="#">
												{% if notification.notification_category == "review" %}
												<span class="notification-icon"><i class="fa fa-pencil-square-o"></i></span>
												<span class="notification-text">
													<strong>{{ notification.user.first_name }} {{ notification.user.last_name }}</strong> left you a <span class="star-rating no-stars" data-rating="5.0"></span> rating
												</span>

												{% elif notification.notification_category == "bid" %}
												<span class="notification-icon"><i class=" fa fa-gavel"></i></span>
												<span class="notification-text">
													<strong>{{ notification.user.first_name }} {{ notification.user.last_name }},</strong> placed a bid on your <span class="color">{{ notification.task.task_name }}</span> task
												</span>

												{% elif notification.notification_category == "due date" %}
												<span class="notification-icon"><i class="fa fa-refresh"></i></span>
												<span class="notification-text">
													Your task listing <span class="color">{{ notification.task.task_name }}</span> is expiring
												</span>

												{% endif %}
											</a>
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>

						</div>

					</div>
					
					<!-- Messages -->
					<div class="header-notifications">
						<div class="header-notifications-trigger">
							<a href="#"><i class="fa fa-envelope"></i><span>{{ message_notification_count }}</span></a>
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<div class="header-notifications-headline">
								<h4>Messages</h4>
								<button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
									<i class="fa fa-check-square"></i>
								</button>
							</div>

							<div class="header-notifications-content">
								<div class="header-notifications-scroll" data-simplebar>
									<ul>
										<!-- Notification -->
										{% for notification in all_message_notification %}
										<li class="notifications-not-read">
											<a href="{% url 'dashboard:employer_messages_view' CHAT_ID=notification.message.chat.id %}">
												<span class="notification-avatar status-online"><img src="{{ notification.user.useradditionalinformation.profile_picture.url }}" alt="" height="40" width="40"></span>
												<div class="notification-text">
													<strong>{{ notification.user.first_name }} {{ notification.user.last_name }}</strong>
													<p class="notification-msg-text">{{ notification.message.content_snippet }}</p>
													<span class="color">{{ notification.timestamp|humanize_timedelta }}</span>
												</div>
											</a>
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>

							<a href="{% url 'dashboard:employer_messages_view' CHAT_ID=0 %}" class="header-notifications-button ripple-effect button-sliding-icon">View All Messages<i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>

				</div>
				<!--  User Notifications / End -->

				<!-- User Menu -->
				<div class="header-widget">

					<!-- Messages -->
					<div class="header-notifications user-menu">
						<div class="header-notifications-trigger">
							<a href="#"><div class="user-avatar status-online"><img src="{{ request.user.useradditionalinformation.profile_picture.url }}" alt="" height="40" width="40"></div></a>
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<!-- User Status -->
							<div class="user-status">

								<!-- User Name / Avatar -->
								<div class="user-details">
									<div class="user-avatar status-online"><img src="{{ request.user.useradditionalinformation.profile_picture.url }}" alt="" height="40" width="40"></div>
									<div class="user-name">
										{{ request.user.first_name }} {{ request.user.last_name }} <span>Employer</span>
									</div>
								</div>
								
								<!-- User Status Switcher -->
								<div class="status-switch" id="snackbar-user-status">
									<label class="user-online current-status">Online</label>
									<label class="user-invisible">Invisible</label>
									<!-- Status Indicator -->
									<span class="status-indicator" aria-hidden="true"></span>
								</div>	
						</div>
						
						<ul class="user-menu-small-nav">
							<li><a href="{% url 'dashboard:employer_dashboard_home_view' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
							<li><a href="{% url 'dashboard:employer_settings_view' %}"><i class="fa fa-cog"></i> Settings</a></li>
							<li><a href="{% url 'accounts:logout_view' %}"><i class="fa fa-power-off"></i> Logout</a></li>
						</ul>

						</div>
					</div>

				</div>
				<!-- User Menu / End -->

				<!-- Mobile Navigation Button -->
				<span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>

			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->


<!-- Dashboard Container -->
<div class="dashboard-container">

	<!-- Dashboard Sidebar
	================================================== -->
	<div class="dashboard-sidebar">
		<div class="dashboard-sidebar-inner" data-simplebar>
			<div class="dashboard-nav-container">

				<!-- Responsive Navigation Trigger -->
				<a href="#" class="dashboard-responsive-nav-trigger">
					<span class="hamburger hamburger--collapse" >
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</span>
					<span class="trigger-title">Dashboard Navigation</span>
				</a>
				
				<!-- Navigation -->
				<div class="dashboard-nav">
					<div class="dashboard-nav-inner">

						<ul data-submenu-title="Start">
							<li class="active"><a href="{% url 'dashboard:employer_dashboard_home_view' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
							<li><a href="{% url 'dashboard:employer_messages_view' CHAT_ID=0 %}"><i class="fa fa-comments-o"></i> Messages <span class="nav-tag">{{ unread_messages_count }}</span></a></li>
							<li><a href="{% url 'dashboard:employer_bookmarks_view' %}"><i class="fa fa-star-o"></i> Bookmarks</a></li>
							<li><a href="{% url 'dashboard:employer_reviews_view' %}"><i class="fa fa-star-half-o"></i> Reviews</a></li>
						</ul>
						
						<ul data-submenu-title="Organize and Manage">
							<li><a href="#"><i class="fa fa-building-o"></i> Jobs</a>
								<ul>
									<li><a href="#">Manage Jobs <span class="nav-tag">3</span></a></li>
									<!-- <li><a href="dashboard-manage-candidates.html">Manage Candidates</a></li> -->
									<li><a href="#">Post a Job</a></li>
								</ul>	
							</li>
							<li><a href="#"><i class="fa fa-file-o"></i> Tasks</a>
								<ul>
									<li><a href="{% url 'dashboard:employer_manage_task_view' %}">Manage Tasks <span class="nav-tag">2</span></a></li>
									<!-- <li><a href="dashboard-manage-bidders.html">Manage Bidders</a></li>
									<li><a href="dashboard-my-active-bids.html">My Active Bids <span class="nav-tag">4</span></a></li> -->
									<li><a href="{% url 'dashboard:employer_post_task_view' %}">Post a Task</a></li>
								</ul>	
							</li>
						</ul>

						<ul data-submenu-title="Account">
							<li><a href="{% url 'dashboard:employer_settings_view' %}"><i class="fa fa-cog"></i> Settings</a></li>
							<li><a href="{% url 'accounts:logout_view' %}"><i class="fa fa-power-off"></i> Logout</a></li>
						</ul>
						
					</div>
				</div>
				<!-- Navigation / End -->

			</div>
		</div>
	</div>
	<!-- Dashboard Sidebar / End -->


	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
			
			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>{{ request.user.last_name }}, {{ request.user.first_name }}!</h3>
				<span>We are glad to see you again!</span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Dashboard</li>
					</ul>
				</nav>
			</div>
	
			<!-- Fun Facts Container -->
			<div class="fun-facts-container">
				<div class="fun-fact" data-fun-fact-color="#36bd78">
					<div class="fun-fact-text">
						<span>Task Posted</span>
						<h4>{{ tasks_posted_count }}</h4>
					</div>
					<div class="fun-fact-icon"><i class="fa fa-tasks"></i></div>
				</div>
				<div class="fun-fact" data-fun-fact-color="#b81b7f">
					<div class="fun-fact-text">
						<span>Freelancers Hired</span>
						<h4>{{ freelancers_hired }}</h4>
					</div>
					<div class="fun-fact-icon"><i class="fa fa-user-plus"></i></div>
				</div>
				<div class="fun-fact" data-fun-fact-color="#efa80f">
					<div class="fun-fact-text">
						<span>Reviews Received</span>
						<h4>{{ reviews_received_count }}</h4>
					</div>
					<div class="fun-fact-icon"><i class="fa fa-star"></i></div>
				</div>

				<!-- Last one has to be hidden below 1600px, sorry :( -->
				<div class="fun-fact" data-fun-fact-color="#2a41e6">
					<div class="fun-fact-text">
						<span>This Month Views</span>
						<h4>987</h4>
					</div>
					<div class="fun-fact-icon"><i class="icon-feather-trending-up"></i></div>
				</div>
			</div>
			
			<!-- Row -->
			<div class="row">

				<div class="col-xl-8">
					<!-- Dashboard Box -->
					<div class="dashboard-box main-box-in-row">
						<div class="headline">
							<h3><i class="icon-feather-bar-chart-2"></i> Your Profile Views</h3>
							<div class="sort-by">
								<select class="selectpicker hide-tick">
									<option>Last 6 Months</option>
									<option>This Year</option>
									<option>This Month</option>
								</select>
							</div>
						</div>
						<div class="content">
							<!-- Chart -->
							<div class="chart">
								<canvas id="chart" width="100" height="45"></canvas>
							</div>
						</div>
					</div>
					<!-- Dashboard Box / End -->
				</div>
				<div class="col-xl-4">

					<!-- Dashboard Box -->
					<!-- If you want adjust height of two boxes 
						 add to the lower box 'main-box-in-row' 
						 and 'child-box-in-row' to the higher box -->
					<div class="dashboard-box child-box-in-row"> 
						<div class="headline">
							<h3><i class="icon-material-outline-note-add"></i> Notes</h3>
						</div>	

						<div class="content with-padding">
							<!-- Note -->
							<div class="dashboard-note">
								{% if all_notes %}
								{% for note in all_notes %}
								<p>{{ note.note }}</p>
								<div class="note-footer">
									{% if note.priority == "Low Priority" %}
									<span class="note-priority low">Low Priority</span>
									{% elif note.priority == "Medium Priority" %}
									<span class="note-priority medium">Medium Priority</span>
									{% elif note.priority == "High Priority" %}
									<span class="note-priority high">High Priority</span>
									{% endif %}
									<div class="note-buttons">
										<a href="#" title="Edit" data-tippy-placement="top"><i class="fa fa-pencil"></i></a>
										<a href="#" title="Remove" data-tippy-placement="top"><i class="fa fa-trash-o"></i></a>
									</div>
								</div>
								{% endfor %}
								{% else %}
								<p>You do not have any note</p>
								{% endif %}
							</div>
						</div>
							<div class="add-note-button">
								<a href="#small-dialog" class="popup-with-zoom-anim button full-width button-sliding-icon">Add Note <i class="fa fa-long-arrow-right"></i></a>
							</div>
					</div>
					<!-- Dashboard Box / End -->
				</div>
			</div>
			<!-- Row / End -->

			<!-- Row -->
			<div class="row">

				<!-- Dashboard Box -->
				<div class="col-xl-6">
					<div class="dashboard-box">
						<div class="headline">
							<h3><i class="icon-material-baseline-notifications-none"></i> Notifications</h3>
							<button class="mark-as-read ripple-effect-dark" data-tippy-placement="left" title="Mark all as read">
									<i class="icon-feather-check-square"></i>
							</button>
						</div>
						<div class="content">
							<ul class="dashboard-box-list">
								{% for notification in all_notification %}
								<li>
									{% if notification.notification_category == "review" %}
									<span class="notification-icon"><i class="fa fa-pencil-square-o"></i></span>
									<span class="notification-text">
										<strong>{{ notification.user.first_name }} {{ notification.user.last_name }}</strong> left you a <span class="star-rating no-stars" data-rating="5.0"></span> rating
									</span>
									<!-- Buttons -->
									<div class="buttons-to-right">
										<a href="#" class="button ripple-effect ico" title="Mark as read" data-tippy-placement="left"><i class="fa fa-check-square"></i></a>
									</div>

									{% elif notification.notification_category == "bid" %}
									<span class="notification-icon"><i class=" fa fa-gavel"></i></span>
									<span class="notification-text">
										<strong>{{ request.user.first_name }} {{ request.user.last_name }},</strong> placed a bid on your <a href="{% url 'home:single_task_view' ID=notification.task.id %}">{{ notification.task.task_name }}</a> task
									</span>
									<!-- Buttons -->
									<div class="buttons-to-right">
										<a href="#" class="button ripple-effect ico" title="Mark as read" data-tippy-placement="left"><i class="fa fa-check-square"></i></a>
									</div>

									{% elif notification.notification_category == "task expiring" %}
									<span class="notification-icon"><i class="fa fa-refresh"></i></span>
									<span class="notification-text">
										Your task listing <a href="{% url 'home:single_task_view' ID=notification.task.id %}">{{ notification.task.task_name }}</a> is expiring
									</span>
									<!-- Buttons -->
									<div class="buttons-to-right">
										<a href="#" class="button ripple-effect ico" title="Mark as read" data-tippy-placement="left"><i class="fa fa-check-square"></i></a>
									</div>

									{% endif %}
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>

				<!-- Dashboard Box -->
				<div class="col-xl-6">
					<div class="dashboard-box">
						<div class="headline">
							<h3><i class="icon-material-outline-assignment"></i> Payments</h3>
						</div>
						<div class="content">
							<ul class="dashboard-box-list">
								{% for order in all_payment %}
								<li>
									<div class="invoice-list-item">
									<strong>{{ order.task.task_name }}</strong>
										<ul>
											<li><span class="paid">Paid</span></li>
											<li>Order: #326</li>
											<li>Date: {{ order.timestamp | date:"m/d/Y" }}</li>
										</ul>
									</div>
									<!-- Buttons -->
									<div class="buttons-to-right">
										<a href="#" class="button">View Invoice</a>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>

			</div>
			<!-- Row / End -->

			<!-- Footer -->
			<div class="dashboard-footer-spacer"></div>
			<div class="small-footer margin-top-15">
				<div class="small-footer-copyrights">
					© 2024 <strong>SolarMarketHub</strong>. All Rights Reserved.
				</div>
				<ul class="footer-social-links">
					<li>
						<a href="#" title="Facebook" data-tippy-placement="top">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Twitter" data-tippy-placement="top">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Instagram" data-tippy-placement="top">
							<i class="fa fa-instagram"></i>
						</a>
					</li>
					<li>
						<a href="#" title="LinkedIn" data-tippy-placement="top">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- Footer / End -->

		</div>
	</div>
	<!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->

</div>
<!-- Wrapper / End -->


<!-- Apply for a job popup
================================================== -->
<div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab">Add Note</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Do Not Forget 😎</h3>
				</div>
					
				<!-- Form -->
				<form method="post" id="add-note">
					{% csrf_token %}

					<select class="selectpicker with-border default margin-bottom-20" data-size="7" title="Priority" name="priority" required>
						<option value="Low Priority">Low Priority</option>
						<option value="Medium Priority">Medium Priority</option>
						<option value="High Priority">High Priority</option>
					</select>

					<textarea name="note" required cols="10" placeholder="Note" class="with-border" maxlength="100"></textarea>

				</form>
				
				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect" type="submit" form="add-note">Add Note <i class="fa fa-long-arrow-right"></i></button>

			</div>

		</div>
	</div>
</div>
<!-- Apply for a job popup / End -->


<!-- Scripts
================================================== -->
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="https://www.vasterad.com/themes/hireo_21/js/jquery-migrate-3.1.0.min.js"></script>
<script src="{% static 'js/mmenu.min.js' %}"></script>
<script src="{% static 'js/tippy.all.min.js' %}"></script>
<script src="{% static 'js/simplebar.min.js' %}"></script>
<script src="{% static 'js/bootstrap-slider.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/snackbar.js' %}"></script>
<script src="{% static 'js/clipboard.min.js' %}"></script>
<script src="{% static 'js/counterup.min.js' %}"></script>
<script src="{% static 'js/magnific-popup.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
// Snackbar for user status switcher
$('#snackbar-user-status label').click(function() { 
	Snackbar.show({
		text: 'Your status has been changed!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	}); 
}); 
</script>

<!-- Chart.js // documentation: http://www.chartjs.org/docs/latest/ -->
<script src="{% static 'js/chart.min.js' %}"></script>
<script>
	Chart.defaults.global.defaultFontFamily = "Nunito";
	Chart.defaults.global.defaultFontColor = '#888';
	Chart.defaults.global.defaultFontSize = '14';

	var ctx = document.getElementById('chart').getContext('2d');

	var chart = new Chart(ctx, {
		type: 'line',

		// The data for our dataset
		data: {
			labels: ["January", "February", "March", "April", "May", "June"],
			// Information about the dataset
	   		datasets: [{
				label: "Views",
				backgroundColor: 'rgba(42,65,232,0.08)',
				borderColor: '#2a41e8',
				borderWidth: "3",
				data: [196,132,215,362,210,252],
				pointRadius: 5,
				pointHoverRadius:5,
				pointHitRadius: 10,
				pointBackgroundColor: "#fff",
				pointHoverBackgroundColor: "#fff",
				pointBorderWidth: "2",
			}]
		},

		// Configuration options
		options: {

		    layout: {
		      padding: 10,
		  	},

			legend: { display: false },
			title:  { display: false },

			scales: {
				yAxes: [{
					scaleLabel: {
						display: false
					},
					gridLines: {
						 borderDash: [6, 10],
						 color: "#d8d8d8",
						 lineWidth: 1,
	            	},
				}],
				xAxes: [{
					scaleLabel: { display: false },  
					gridLines:  { display: false },
				}],
			},

		    tooltips: {
		      backgroundColor: '#333',
		      titleFontSize: 13,
		      titleFontColor: '#fff',
		      bodyFontColor: '#fff',
		      bodyFontSize: 13,
		      displayColors: false,
		      xPadding: 10,
		      yPadding: 10,
		      intersect: false
		    }
		},


});

</script>

</body>
</html>